md-dialog(add-item-dialog)
  md-dialog-content.md-dialog-content
    h2.md-title Add Dessert
    p.md-warn(ng-if='item.form.$submitted && item.form.$invalid', layout='row', layout-align='start center')
      i.material-icons error_outline
      span   All fields are required.
    form(name='item.form', ng-submit='ctrl.addItem()')
      .input-row(layout='row')
        md-input-container(flex)
          label Name
          input(name='name', ng-model='dessert.name', md-maxlength='20', required)
        md-input-container(flex)
          label Calories
          input(name='calories', type='number', min='0', max='999', ng-model='dessert.calories.value', required)
      h3.md-subhead Macronutrients
      .input-row(layout='row')
        md-input-container(flex)
          label Fat (g)
          input(name='fat', type='number', min='0', max='99', ng-model='dessert.fat.value', required)
        md-input-container(flex)
          label Carbs (g)
          input(name='carbs', type='number', min='0', max='99', ng-model='dessert.carbs.value', required)
        md-input-container(flex)
          label Protein (g)
          input(name='protein', type='number', min='0', max='99', ng-model='dessert.protein.value', required)
      h3.md-subhead Micronutrients
      .input-row(layout='row')
        md-input-container(flex)
          label Sodium (mg)
          input(name='sodium', type='number', min='0', max='9999', ng-model='dessert.sodium.value', required)
        md-input-container(flex)
          label Calcium (%)
          input(name='calcium', type='number', min='0', max='99', ng-model='dessert.calcium.value', required)
        md-input-container(flex)
          label Iron (%)
          input(name='iron', type='number', min='0', max='99', ng-model='dessert.iron.value', required)
  .md-actions
    md-button.md-primary(ng-click='ctrl.addItem()', ng-disabled='item.form.$invalid') Add Item
    md-button.md-primary(ng-click='ctrl.cancel()') Cancel
