md-card
  //- md-toolbar.md-table-toolbar.md-default(ng-hide='$ctrl.isSelectedRows()')
    .md-toolbar-tools
      span Nutrition
      div(flex='')
      md-button.md-icon-button(ng-click='loadStuff()')
        md-icon refresh
  //- md-toolbar.md-table-toolbar.alternate(ng-show='options.rowSelection && selected.length')
    .md-toolbar-tools
      span {{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected
  md-toolbar.md-table-toolbar(ng-class='$ctrl.isSelectedRows() ? "alternate" : "md-default"')
    .md-toolbar-tools(ng-if='! $ctrl.isSelectedRows()')
      span Nutrition
      div(flex='')
      md-button.md-icon-button(ng-click='')
        md-icon refresh
    .md-toolbar-tools(ng-if='$ctrl.isSelectedRows()')
      span {{$ctrl.selectedRows.length}} {{$ctrl.selectedRows.length > 1 ? 'items' : 'item'}} selected
  
  mdt-table
    mdt-header-row
      mdt-column(align-rule='left') Dessert (100g serving)
      mdt-column(align-rule='right') Calories
      mdt-column(align-rule='right') Fat (g)
      mdt-column(align-rule='right') Carbs (g)
      mdt-column(align-rule='right') Protein (g)
      mdt-column(align-rule='right') Sodium (mg)
      mdt-column(align-rule='right') Calcium (%)
      mdt-column(align-rule='right') Iron (%)
    mdt-row(ng-repeat='nutrition in nutritionList')
      mdt-cell {{nutrition.name}}
      mdt-cell {{nutrition.calories}}
      mdt-cell {{nutrition.fat}}
      mdt-cell {{nutrition.carbs}}
      mdt-cell {{nutrition.protein}}
      mdt-cell {{nutrition.sodium}}
      mdt-cell {{nutrition.calcium}}
      mdt-cell {{nutrition.iron}}

  //- md-table-container
    table(md-table, md-row-select, multiple, md-progress='promise')
      thead(md-head, md-on-reorder='$ctrl.onreOrder')
        tr(md-row)
          th(md-column,)
            span title
          th(md-column,)
            span status
          th(md-column,)
            span auther
          th(md-column,)
            span comments
          th(md-column,)
            span date
          th(md-column,)
            span url
      tbody(md-body)
        tr(md-row, md-select='post', md-on-select='$ctrl.onSelect', md-auto-select, ng-disabled='post.calories.value > 400', ng-repeat='post in $ctrl.posts | filter: filter.search | orderBy: query.order | limitTo: 5 : (query.page -1) * query.limit')
          td(md-cell) {{ post.title }}
          td(md-cell) {{ post.status }}
          td(md-cell) {{ post.auther }}
          td(md-cell) {{ post.comments }}
          td(md-cell) {{ post.date }}
          td(md-cell) {{ post.url }}
  //- md-table-pagination(md-limit='5', md-limit-options='limitOptions', md-page='1', md-total='{{ $ctrl.posts.length }}', md-page-select='[5,10,15]', md-boundary-links='options.boundaryLinks', md-on-paginate='logPagination')
