
md-card
  md-toolbar.md-table-toolbar.md-menu-toolbar(ng-style='$ctrl.toolbarTheme', ng-class='$ctrl.tableModeClass')
    .md-toolbar-tools(ng-show='$ctrl.tableModes.default.isActive')
      h2.md-title posts
      div(flex)
      md-button.md-icon-button(md-ink-ripple="false", ng-click='$ctrl.activeTableMode("search")')
        md-icon &#xE8B6;
      md-button.md-icon-button(ng-click='addItem($event)')
        md-icon &#xE145;
    .md-toolbar-tools(ng-show='$ctrl.tableModes.search.isActive')
      md-icon search
      form(flex, name='$ctrl.filter.form')
        input(type='text', placeholder='search', ng-model='$ctrl.recordsQuery.q')
      md-button.md-icon-button(md-ink-ripple="false", ng-click='$ctrl.activeTableMode("default")')
        md-icon close
    .md-toolbar-tools(ng-show='$ctrl.tableModes.select.isActive')
      div {{$ctrl.selectedRecords.length}} {{$ctrl.selectedRecords.length > 1 ? 'items' : 'item'}} selected
      div(flex)
      md-button.md-icon-button(ng-click='delete($event)')
        md-icon delete
  md-table-container
    table(md-table, md-row-select='true', multiple='true', ng-model='$ctrl.selectedRecords', md-progress='$ctrl.recordsPromise')
      thead(md-head, md-order='$ctrl.recordsQuery._sort', md-on-reorder='$ctrl.getPosts')
        tr(md-row)
          th(md-column, md-order-by='title')
            span title
          th(md-column, md-order-by='auther')
            span auther
          th(md-column,md-order-by='date')
            span date
          th(md-column)
            span url
          th(md-column)
            span status
      tbody(md-body)
        tr(md-row, md-select='post', md-select-id='id', md-auto-select, ng-repeat='post in $ctrl.posts')
          td(md-cell) {{post.title}}
          td(md-cell) {{post.auther}}
          td(md-cell) {{post.date}}
          td(md-cell) 
            a.md-accent(href='{{post.url}}') {{post.url}}
          td(md-cell)
            span.status-circle-icon(ng-class='post.status ? "online" : "offline"')
  md-table-pagination(md-limit='$ctrl.recordsQuery._limit', md-limit-options='[10, 15, 25]', md-page='$ctrl.recordsQuery._page', md-total='1000', md-on-paginate='$ctrl.getPosts', md-page-select)
