// @import '/node_modules/angular-material/angular-material.css';
@import './styles/anchors';
@import './styles/_forms';
@import './styles/cards';

app
  position relative
  display block
  height 100%
  overflow hidden
  min-width 100%
  min-height 100%
.app-sidenav
  width 227px
  max-width 227px 
  min-width 227px
  
.md-button.md-icon-button
  margin 0
  
.app-nav-swiper
  position fixed
  top 0
  left 0
  width 15px
  height 100%
  z-index 9999

ui-view
  display block
  




// general theming 

// toolbar
.md-toolbar-tools
  .md-title
    text-transform capitalize
// end toolbar


.status-circle-icon
  display block
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #aaa;
  &.offline
    background-color #e44e56 
  &.online
    background-color #3DC372 