app
  position relative
  display block
  min-width 100%
  min-height 100%
.app-sidenav
  width 227px
  max-width 227px 
  min-width 227px
  
.md-button.md-icon-button
  margin 0
  
.app-nav-swiper
  position fixed
  top 0
  left 0
  width 15px
  height 100%
  z-index 9999
   