md-card
  md-card-title
    md-card-title-text
      .md-headline card title
  md-card-content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content
    p some content